.song-details-wrapper {
  display: flex;
}

.song-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.song-details .song-name {
  color: #fff;
  font-size: 14px;
}

.song-details .artist-name {
  color: #aaa;
  font-size: 12px;
}

.song-controls-wrapper {
  margin: auto;
  flex-grow: 2;
}

.song-controls {
  justify-content: center;
  display: flex;
}

.forward,
.reverse-song,
.play-btn {
  padding: 0 5px;
  color: rgb(179, 179, 179);
  cursor: pointer;
}

.reverse,
.forward {
  font-size: 16px;
}

.song-player-container {
  display: flex;
  justify-content: space-between;
  height: inherit;
}

.song-player-container .pause-btn {
  position: relative;
  top: -7px;
  font-size: 40px;
  margin: 0 5px;
}

.song-progress-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.song-progress {
  width: -webkit-fill-available;
  height: 4px;
  background: rgb(64, 64, 64);
  border-radius: 4px;
}

.song-expired {
  margin: 0;
  width: 100px;
  height: 4px;
  background: #1db954;
  border-radius: 4px;
}

.timer-start {
  font-size: 12px;
  margin-right: 10px;
}

.timer-end {
  font-size: 12px;
  margin-left: 10px;
}
