.section-title {
  font-size: 34px;
  font-weight: 800;
  padding: 0 0 20px 0;
}

.main-pause-play-btn {
  background: #1db954;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px;
  width: 100px;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  outline: none;
}

.user-song-item {
  list-style-type: none;
  border-bottom: 1px solid #666;
  display: flex;
  font-size: 14px;
  cursor: pointer;
  height: 40px;
  align-items: center;
}

.user-song-item:hover {
  background: rgb(51, 51, 51);
}

.active.user-song-item {
  color: #1db954;
  background: rgb(51, 51, 51);
}

.song-title,
.song-title-header {
  width: 300px;
}

.song-album,
.song-album-header {
  width: 250px;
}

.song-artist,
.song-artist-header {
  width: 200px;
}

.song-added {
  width: 80px;
}

.song-title-header {
  margin-left: 60px;
}

.user-song-item .play-song {
  width: 40px;
  text-align: center;
  color: #fff;
}

.user-song-item  .play-song .fa {
  position: relative;
  color: #ccc;
  cursor: pointer;
  -webkit-text-stroke: 2px #fff;
}

.song-title p,
.song-artist p,
.song-album p,
.song-length p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 8px;
}

.song-length,
.song-length-header {
	width: 60px;
}

.song-added,
.song-added-header {
	width: 80px;
}

.song-album,
.song-album-header {
	width: 210px;
}

.song-artist,
.song-artist-header {
	width: 180px;
}

.song-title-header p,
.song-artist-header p,
.song-album-header p,
.song-length-header p {
  text-transform: uppercase;
  font-size: 12px;
  color: #ccc;
  padding: 0 8px;
}

.song-length-header .fa-clock-o {
  font-size: 17px;
  color: #ccc;
}

.song-added-header {
  width: 80px;
  color: #ccc;
}

.song-header-container {
  display: flex;
  border-bottom: 1px solid #666;
  padding-bottom: 6px;
  margin-top: 20px;
}

.add-song {
  cursor: pointer;
  padding-right: 5px;
  padding-left: 5px;
  color: #fff;
  flex-shrink: -1;
}

.song-info-container {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 1000px) {
  .user-song-item {
    flex-wrap: wrap;
  }

  .song-info-container {
    display: flex;
    flex-direction: column;
  }

  .song-header-container,
  .song-album,
  .song-added,
  .song-length {
    display: none;
  }

  .song-title,
  .add-song {
    font-weight: 600;
  }

  .song-artist {
    font-size: 14px;
    color: rgb(179, 179, 179);
  }

  .user-song-item {
    padding: 15px 0px;
  }

  .bottom-menu-section > .bottom-menu {
    display: flex;
    justify-content: space-evenly;
  }

  .section-title {
    padding: 0;
    font-size: 25px;
  }
}
