.volume-container {
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

.volume {
  -webkit-appearance: none;
  width: 120px;
  height: 5px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 15px;
  background: #4CAF50;
  border-radius: 4px;
  outline: none;
  opacity: 1;
}

input[type=range]::-moz-range-track {
  width: 120px;
  height: 5px;
  background: #4CAF50;
  border-radius: 4px;
  outline: none;
  opacity: 1;
}

.control-button {
  line-height: 20px;
  letter-spacing: .015em;
  font-weight: var(--glue-font-weight-normal);
  color: #b3b3b3;
  text-transform: none;
}

.volume:hover {
    opacity: 0.8;
    background: #4CAF50;
}

.volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: #fff;
  cursor: pointer;
  border-radius: 50%;
}
