.header {
  position: fixed;
  width: 900px;
  z-index: 1000;
	display: flex;
	justify-content: space-between;
	background: rgb(24, 24, 24);
}

@media only screen and (max-width: 1000px) {
  .header > .track-search-container {
    display: none;
  }
}
